<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="Description" content="This is a tool website."/>
    <meta name="theme-color" content="#fafafa"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://it.mcsmds.tk/assets/styles/bootstrap.css?v={{ "now" | date: "%s" }}"/>
    <style>a{color:#0071eb}</style> 
  </head>
  <body>
    {%- capture script -%}
      <script src="https://it.mcsmds.tk/assets/scripts/jquery.js?v={{ "now" | date: "%s" }}"></script>
      <script src="https://it.mcsmds.tk/assets/scripts/bootstrap.js?v={{ "now" | date: "%s" }}"></script>
      <script>
    {%- endcapture -%}
    {{- content | replace: "<script>", script -}}
  </body>
</html>